.footer {
  padding-bottom: 5rem;
  background: var(--ifm-footer-background-color);
  color: #fff;
}

.slope {
  background: #fff;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
  height: 100px;
  margin-bottom: 1rem;
  margin-top: -1px;
}

.footerAdditional {
  white-space: nowrap;
  font-size: 0.9rem;
}

.navbarLogo {
  height: 30px;
  margin-bottom: 15px;
}

.container {
  display: flex;
  justify-content: center;
}

.logoSubtext {
  margin-left: -2px;
  max-height: 0%;
  font-size: x-small;
  color: #2d3f50;
}

.lyftLogo {
  max-height: 120%;
  margin-bottom: -11px;
  margin-left: -8px;
}

.navbarLink {
  font-weight: bold;
  color: #2d3f50;
}

.navbarHidden {
  top: calc(var(--ifm-navbar-height) * -1) !important;
}

.footerLogoLink {
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
}

.footerLogoLink:hover {
  opacity: 1;
}

.section {
  padding: 6px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 0 1.5%;
  color: var(--ifm-footer-color);
  font-size: 23px;
}

.icon:hover {
  color: #02acbe;
}

.copyright {
  color: var(--ifm-footer-color);
}

/* Responsive */
@media only screen and (max-width: 997px) {
  .container {
    padding-top: 10%;
    display: inline-block;
  }

  .slope {
    height: 30px;
  }
}
